:host {
  display: block;
}

[nz-carousel-content] {
  text-align: center;
  //height: 160px;
  line-height: 0 !important;
  background: rgb(215, 224, 252);
  color: #c84343;
  overflow: hidden;
  //cursor: pointer;
}

h4 {
  color: #000000;
  margin-bottom: 0;
  user-select: none;
}

p {
  color: #000000;
  line-height: 0 !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.workflowPad {
  //padding: 12px 12px 12px 12px;
}

::ng-deep .ant-carousel .slick-dots-bottom {
  margin-top: 10px;
}
