<div class="">
  <form
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="pesquisar()"
    nzLayout="vertical"
  >
    <div nz-row [nzGutter]="24" class="w-100 alinharForm">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="email">Assessoria</nz-form-label>
          <nz-form-control>
            <nz-select
              [nzMaxTagCount]="3"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              nzMode="multiple"
              nzPlaceHolder="Please select"
              [(ngModel)]="listOfSelectedValue"
            >
              @for (item of listOfOption; track item) {
              <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
              }
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList
              >and {{ selectedList.length }} more selected</ng-template
            >
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="email">Usuario</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input
                formControlName="username"
                nz-input
                placeholder="username"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="email">Nome</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input
                formControlName="password"
                nz-input
                placeholder="Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="justify-content-end d-flex alinharBotao">
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Pesquisar</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <nz-divider></nz-divider>
</div>
